---
import './../global.css';
import { href } from './../state';
import Header from './../components/Header.astro';

href.set(`${import.meta.env.BASE_URL}/projects`);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header/>
		<h1>Project</h1>
	</body>
</html>


