---

interface Props {
    links: {
        "href": string;
        "name": string;
    } []
}
const { links } = Astro.props;
---

<div class="breadcrumbs">
    {links.map(link => (
        <span class="breadcrumb-link">
            <a href={link.href} class="accentify">{link.name}</a>
            <figure><img src={`${import.meta.env.BASE_URL}/assets/next.png`}/></figure>
        </span> 
    ))}
</div>

<style>
    .breadcrumbs {
        display: flex;
        align-items: center;
        background-color: #FFF7F9;
        padding: 0.5rem;
        margin-block: 1rem;
    }
    .breadcrumbs img {
        width: 12px;
        aspect-ratio: 1/1;  
        margin: 0 1rem
    }
    .breadcrumb-link {
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
    }
    .breadcrumb-link figure {
        display: flex;
        align-items: center;
    }
</style>