---
import './../../global.css';
import { href } from './../../state';
import Header from './../../components/Header.astro';
import Section from './../../components/Section.astro'

href.set(`${import.meta.env.BASE_URL}/blogs`);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header/>
		<Section>
			<div slot="heading">
				<h3 class="accentify">BLOGS</h3>
				<h1>Raw Blogs</h1>
			</div>			
			<p slot="text">
                Here are all the posts that I created for talking about my experiences and announcements. Also named the title “Raw Blogs” cause Roblox.            
            </p>		
		</Section>
    </body>
</html>
