:root {
    --color-primary: #430717;
    --color-accent: #FE9CB9;
    color: var(--color-primary);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

html {
    display: flex;
    justify-content: center;
    width: 100%;
}

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}
body {
    width: 768px;
    padding: 3rem 2rem;
    margin: auto;
}
body > * {
    margin-bottom: 1rem;
}

a { 
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}
h1, .title {
    font-size: 2rem;
}
h2, .heading {
    font-size: 1.5rem;
}
h3, .subheading {
    font-weight: 400;
    font-size: 1rem;
}
h4 {
    font-weight: 500;
    font-size: 0.875rem;
}
p, .text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1rem;
}
.accentify {
    color: var(--color-accent);
}

@media screen and (max-width: 576px) {
    body {
        padding: 3rem 1rem   
    }
    body > * {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
    body {
        width: 768px;
    }
        
}



