---
import './../global.css'
import Header from './../components/Header.astro'
import { href } from './../state';

href.set(`${import.meta.env.BASE_URL}/blogs`);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>	
	</head>
	<body>
		<Header/>
		<div class="post"> 
			<slot/>
		</div>
	</body>
</html>

<style>
	.post {
		display: flex;
		flex-direction: column;
	}
	.post :global(img) {
		width: 100%;
		max-height: 250px;
		object-fit: cover;
		margin-bottom: 1rem;
	}
	.post :global(h1), .post :global(h2) {
		margin-bottom: 2rem;
	}
	.post :global(h3) {
		color: #FE9CB9;
	}
	.post :global(p) {
		width: 80%;
		margin-bottom: 1.5rem;
	}
</style>